.jp-VideoChat-jitsi-container {
    height: 100%;
}

.jp-VideoChat {
    height: 100%;
    /* Lift us above the JupyterLab statusbar */
    /* FIXME: Is there a better way to do this? */
    padding-bottom: 24px;

    background-color: var(--jp-layout-color1);
}

ul.jp-VideoChat-rooms-list {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

ul.jp-VideoChat-rooms-list li > a {
    display: block;
    /* Offset from left of title */
    padding: 8px 24px;
}

ul.jp-VideoChat-rooms-list li > a:hover {
    background-color: var(--jp-layout-color2);
    color: unset;
}

.jp-VideoChat-room-displayname {
    display: block;
    font-size: var(--jp-ui-font-size1);
    font-family: var(--jp-ui-font-family);
    color: var(--jp-ui-font-color0);
    font-variant: small-caps;
}

.jp-VideoChat-room-description {
    display: block;
    font-size: var(--jp-ui-font-size0);
    font-family: var(--jp-ui-font-family);
    color: var(--jp-ui-font-color2);
}


.jp-VideoChat-rooms-list-header {
    font-size: var(--jp-ui-font-size1);
    font-family: var(--jp-ui-font-family);
    color: var(--jp-ui-font-color1);
    border-bottom: solid var(--jp-border-width) var(--jp-border-color2);
    text-transform: uppercase;
    padding: 8px 12px;
    font-weight: 600;
    letter-spacing: 1px;
}