.jp-VideoChat-rooms {
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
  background-color: var(--jp-layout-color1);
}

.jp-VideoChat-rooms a {
  color: var(--jp-brand-color1);
}

.jp-VideoChat-rooms ul {
  list-style: none;
  margin: 0;
  padding: 0 1em 1em 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.jp-VideoChat-rooms li {
  align-items: center;
  background-color: var(--jp-layout-color1);
  border: solid var(--jp-border-width) var(--jp-border-color2);
  color: var(--jp-ui-font-color2);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 1;
  margin: 1em 0 0 1em;
  max-width: 500px;
  min-width: 200px;
  padding: 1em;
  padding-top: 0;
  box-shadow: var(--jp-elevation-z2);
  border-radius: var(--jp-border-radius);
}

.jp-VideoChat-rooms li label {
  display: block;
  font-size: var(--jp-ui-font-size2);
  font-family: var(--jp-ui-font-family);
  color: var(--jp-ui-font-color0);
  flex: 1;
  font-weight: bold;
  padding: calc(var(--jp-ui-font-size0) * 0.5);
  padding-left: 0;
}

.jp-VideoChat-rooms li button {
  flex: 0;
}

.jp-VideoChat-room-displayname-input {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.jp-VideoChat-rooms li.jp-VideoChat-has-input {
  flex-direction: column;
  padding: 0 1em 1em 1em;
  border: dashed 1px var(--jp-border-color2);
}

.jp-VideoChat-rooms li.jp-VideoChat-has-input input {
  width: unset;
  min-width: unset;
  max-width: unset;
  padding: 0;
}

.jp-VideoChat-room-displayname-input input {
  margin-right: 1em;
  flex: 1;
}

.jp-VideoChat-rooms button {
  flex: 0;
  min-width: 5em;
  margin: 1em 0;
}

.jp-VideoChat-room-description {
  display: block;
  font-size: var(--jp-ui-font-size1);
  font-family: var(--jp-ui-font-family);
  color: var(--jp-ui-font-color2);
}

.jp-VideoChat-rooms > label,
.jp-VideoChat-rooms-public > label,
.jp-VideoChat-rooms-server > label {
  font-size: var(--jp-ui-font-size1);
  font-family: var(--jp-ui-font-family);
  color: var(--jp-ui-font-color1);
  padding: 0.5em 1em;
  font-weight: 600;
  display: flex;
  align-items: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: var(--jp-layout-color1);
  border: solid 1px var(--jp-border-color2);
  border-left: 0;
  border-right: 0;
}

.jp-VideoChat-rooms label svg {
  margin-right: 0.5em;
}

.jp-VideoChat-rooms blockquote {
  font-size: var(--jp-ui-font-size1);
  color: var(--jp-ui-font-color1);
  padding: 0;
  margin: 0;
  margin-top: 0.5em;
  width: 100%;
}

.jp-VideoChat-user-info {
  list-style: none;
  margin: 0;
  padding: 1em;
}

.jp-VideoChat-input-group {
  display: flex;
  flex-direction: row;
  padding-bottom: 1em;
  align-items: baseline;
}

.jp-VideoChat-input-group label {
  color: var(--jp-ui-font-color1);
  flex: 0;
  padding: 0 1em 0 0;
}

.jp-VideoChat-input-group input {
  flex: 1;
}

ul[aria-labelledby='id-jp-VideoChat-user-info'] li,
#id-jp-VideoChat-user-info .jp-VideoChat-input-group {
  margin-top: 0;
  border-top: 0;
}

.jp-VideoChat-active-room-name {
  max-height: 1.5em;
  text-overflow: ellipsis;
  font-weight: bold;
  line-height: 1.8;
}

.jp-VideoChat-active-room-name i {
  margin-right: 0.5em;
}
